@font-face{
	font-family: "aa";
	src: url('fonts/Pacifico-Regular/Pacifico-Regular.ttf')
}
@font-face{
	font-family: "bb"
	src: url('fonts/PermanentMarker-Regular/Permanent_Marker.tff')
}
@font-face{
	font-family: "cc"
	src: url('fonts/Lobster-Regular/Lobster-Regular.tff')
}